<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAGSearch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="static/assets/favicon.webp">
</head>
<body>
<div id="background"></div>

<div class="command-container">
    <button id="fetch-data" onclick="elastic_button()" title="Télécharger données venant d'une base Elasticsearch">
        <img src="static/assets/elastic.svg" alt="Télécharger données elastic" class="icon">
    </button>
    <button id="upload-data" onclick="opensearch_button()" title="Uploader données dans Opensearch">
        <img src="static/assets/opensearch.png" alt="Uploader données dans opensearch" class="icon">
    </button>
    <button id="override-prompt" onclick="override_prompt()" title="Override prompt agent dans Opensearch">
        <img src="static/assets/prompt.webp" alt="Override prompt agent dans opensearch" class="icon">
    </button>
    <button id="create-agent" onclick="create_and_deploy_agent()" title="Créer un agent dans Opensearch">
        <img src="static/assets/data_server.webp" alt="Créer un agent dans opensearch" class="icon">
    </button>
    <button id="delete-agent" onclick="delete_agent()" title="Supprimer l'agent dans Opensearch">
        <img src="static/assets/data_server_delete.webp" alt="Supprimer l'agent dans Opensearch" class="icon">
    </button>
    <button id="display-fine-tune" onclick="display_fine_tune()" title="Afficher le fichier de fine-tune">
        <img src="static/assets/learn.png" alt="Afficher le fichier de fine-tune" class="icon">
    </button>
        <button id="display-prompt" onclick="display_prompt()" title="Afficher le prompt par défaut">
        <img src="static/assets/prompt.webp" alt="Afficher le prompt par défaut" class="icon">
    </button>
    <pre id="log-output" class="log-output"></pre>
    <pre id="log-output-default-data" class="log-output-default-data"></pre>
</div>

<div id="popup" class="popup-overlay">
    <div class="popup-content">
        <h2>Entrez votre prompt</h2>
        <textarea id="user-prompt" placeholder="Entrez votre texte ici..." onkeydown="checkEscape(event)"></textarea>
        <button id="submit-prompt">Soumettre</button>
        <button id="close-popup">Fermer</button>
        <div id="result-message" style="margin-top: 10px; font-weight: bold;"></div>
    </div>
</div>

<div id="chat-container">
    <div id="chat-box">
        <div class="message bot">Bienvenue, Bricoleur. Que souhaitez-vous savoir ?</div>
    </div>
    <div class="chat-input">
        <input type="text" id="user-input" placeholder="Écrivez votre message..." onkeydown="checkEnter(event)"
               autofocus>
    </div>
    <div class="button-container">
        <button onclick="sendMessage()">Envoyer</button>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</body>
</html>
